body
{
    background-color: #131313;
    color : #525252;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 12px;

}
.sayfa
{
    width: 960px;
    margin: auto;

}
.ust
{
    background-color: #232323;
}
.logo
{
    float: left;
    width: 260px;
    margin-top: 7px;
    margin-left: 10px;
}
.logo h1
{
    margin: 0px;
    padding: 0px;
    font-size: 42px;
    text-transform: uppercase; /*büyük harf yapar*/
    color: #FDC609;
}
.logo h1 a
{
    font-family: georgia;
    text-decoration: none; 
    letter-spacing: 3px;  /*harfler arasındaki boşluk */
    color: #FDC609;
    
}
.logo p
{
    color: #dbdbdb;
    font-family: Georgia;
    margin-left: 3px;
    margin-top: 0px;
    padding-top: 0px;
}
.menu
{
    float: right;
    width: 650px;
    margin: 30px 0px 0px 0px;
    padding: 0px;
    font-size: 13px;
    text-align: right; /*yazı sağa hizalı*/
}
.menu ul
{
    margin: 0px;
    padding: 0px;
    list-style: none; /*madde işaretlerini kaldırır*/
}
.menu ul li
{
    display: inline; /*yanyana dizmek için*/
    margin-right: 35px;
}
.menu ul li a
{
    text-decoration: none; /*alt çizgiyi kaldırır*/
    font-size: 13px;
    font-family: Verdana;
    color: #dbdbdb;
}
.menu ul li a:hover
{
    text-decoration: underline;
    font-size: 13px;
    font-family: verdana;
    color: #FDC609;
}
.orta
{
    margin-top: 20px;
}
.orta-sol
{
    width: 575px;
    float: left;
}
.orta-sag
{
    width: 360px;
    float: right;
    height: 280px;
    background-color: #FDC609;
    padding: 10px;
}
.orta-sag img
{
    box-shadow: 10px 10px 10px gray;

}
.orta-resim
{
    margin: 20px 30px;
    width: 50px;
    height: 50px;

}
.icerik
{
    width: 960px;
    margin: auto;

}
.kart
{
    width : 300px;
    float : left;
    margin-right : 20px;

}
.kart h1
{
    border-bottom: 1px dotted #fff;
    padding-bottom: 15px;
   color: #FDC609;

}
.button
{
    display: inline-block; /*doğrusal ve blok halinde */
    padding: 10px 15px;
    color: #FDC609;
    background-color: #232323;
    text-decoration: none;

}
.button a:hover
{
    font-size: 15px;

}
.clear
{
    clear: both; /* hizalamayı temizler */
}