body
{
    background-color: #131313;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sayfa
{
    width: 960px;
    margin : 0 auto;
}
.ust
{
    background-color: #000000;
    margin-top: 50px;
}
.yazi
{
    float: left;
    font-size: 30px;
    color: #dbad58;
    margin-top: 2px;
    

}   
.bilgiler
{
    float: right;
    margin-top: 1px;
    
}
.bilgiler a
{
    margin-left: 30px;
    color:#beb9b9;
    font-family: verdana;
}
.bilgiler a:hover
{
    color:#dbad58;
    text-decoration: none;
}
.clear
{
    clear: both;
}
.orta
{
    margin-top: 50px;   
}
.orta-sağ
{
    float: right;
}
.orta-sağ img
{
    width:auto;
    height: 20  0px;
}
.orta-sol
{
    background-color: #dbad58;
    float: left;
    width: 650px;
    
}
.orta-sol p
{
    color:#000000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
}
.alt
{
    margin-top: 100px;
    
    
}
.alt img
{
    margin-left: 30px;
    width: 200px;
    height: 200px;
}
.hakkimizda
{
    background-color: #dbad58;
    margin-top: 50px;
    padding: 20px;
}
.hakkimizda h1
{
    color:rgb(206, 128, 55);
}
.hakkimizda p
{
    color:black;
}
.hakkimizda h3
{
    color:rgb(131, 83, 80);
}
